<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641552607300-piuvki8e2eflfq4odv2i5rtdgakaepvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641552607300-piuvki8e2eflfq4odv2i5rtdgakaepvj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-1t4Z34U0siYxwiqrNwN9ehX5YCm-vdA</string>
	<key>GCM_SENDER_ID</key>
	<string>641552607300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecodes.EmoteXpress</string>
	<key>PROJECT_ID</key>
	<string>fix-app-78005</string>
	<key>STORAGE_BUCKET</key>
	<string>fix-app-78005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641552607300:ios:a114452f16e549de013411</string>
	<key>DATABASE_URL</key>
	<string>https://fix-app-78005-default-rtdb.firebaseio.com</string>
</dict>
</plist>